h1{
    color: darkolivegreen;
    border: 1px solid lawngreen;
}

.parrafoRosa{
    font-size: 35px;
    border: 1px solid palevioletred;
}

.parrafoAzul{
    color: blue;
    background-color: aqua;
    border: 2px azure;
    margin-top: 120px;
    padding-bottom: 120px;
}